.env*
venv*
.venv*
__pycache__/
*.pyc
instance/  
.DS_Store
*.sqlite3
*.log
.idea/
.vscode/
mypy_cache/
.pytest_cache/
coverage/
htmlcov/
*.egg-info/
dist/
build/
*.egg
pip-wheel-metadata/
*.pyo
*.pyd
*.swp
*.swo
*.bak
*.tmp